#portfolio .title {
    font-size: 2rem;
    margin-bottom: 40px;
}

#portfolio .subtitle {
    background-color: rgba(1, 19, 43, 0.781);
    color:rgb(253, 237, 237);
    display: inline-block;
    padding: 10px 40px;
    border-radius: 8px;
    margin: 40px 0;
}

.gallery{
    display: flex;
    gap: 4px;
    transition: .3s;
    margin-bottom: 50px;
}
.gallery__column {
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.gallery__thumb {
    position: relative;
}
.gallery__link {
    overflow: hidden;
}
.gallery__image {
    transition: .3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}