#studio .container {
    padding: 40px 0;
}

.studio__img-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.studio__img-wrapper img {
    height: 300px;
    margin: 10px;
}

.studio__content {
    padding: 40px 0;
}

.studio__content .title {
    margin-bottom: 40px;
    font-size: 2rem;
}

.studio__content--img-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.studio__content img {
    height: 150px;
    margin: 3px;
}