/* CSS REST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* HEADER */

header {
    background: url('../images/studio/studio-1.jpg') top 80% left 0%/cover no-repeat ;
    height: 400px;
    text-align: center;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

header h1 {
    font-size: 4rem;
}

nav {
    background: rgba(1, 19, 43, 0.781);
    color: rgb(253, 237, 237);
    padding: 20px;    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}

ul li {
    margin: 0 10px;
    cursor: pointer;
}